img{
    height: 1200px;
    width: 1200px;
    margin-left: 5%;
}
.photo1{
    margin-left: 700px;
    color:blue;
    font-size: 2em;
}

.photo2{
    margin-left: 700px;
    color:blue;
    font-size: 2em;
}

.photo3{
    margin-left: 700px;
    color:blue;
    font-size: 2em;
}

.photo4{
    margin-left: 700px;
    color:blue;
    font-size: 2em;
}

.photo5{
    margin-left: 700px;
    color:blue;
    font-size: 2em;
    
}

.box1{
    margin-left: 500px;
    font-size: 20px;
    color:#3B3486
}

.box2{
    margin-left: 500px;
    font-size: 20px;
    color:#3B3486
}

.box3{
    margin-left: 500px;
    font-size: 20px;
    color:#3B3486
}

.box4{
    margin-left: 500px;
    font-size: 20px;
    color:#3B3486
}

.box5{
    margin-left: 500px;
    font-size: 20px;
    color:#3B3486
}